body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.heart-container {
  height: 100vh;
  width: 100vw;
  background-image: url('../public/background.png');
  background-size: cover;
  /* Changed from contain to cover */
  /* Changed from cover to contain */
  background-position: center;
  overflow: hidden;
}